.draggable{
    cursor: move;
}

.draggable.dragging{
    user-select: none;
}

.popup{
    position: fixed;
    border: 1px solid #000;
    box-shadow: 0px 0px 15px #0000004f;
    background: #fff;
    top: 10px;
    left: 10px;
    min-width: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.popup .left{
    float: left;
}

.popup .right{
    float: right;
}

.popup .clear{
    clear: both;
}

.popup .popup-title{
    padding: 10px;
    padding-right: 30px;
}

.popup .popup-header{
    /* background: rgb(8, 96, 167); */
    background: rgb(27, 27, 27);
    color: #fff;
}

.popup .popup-body{
    padding: 15px;
}

.popup-draggable{
    /* cursor: move; */
}

.popup-modal{
    position: fixed;
    z-index: 9999999999999999999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.67);
    top:0;
    left: 0;
}

.popup .popup-top-buttons{
    padding: 3px;
}

.popup .popup-buttons{
    padding: 10px;
    /* padding-top: 0px; */
    border-top: 1px solid #efefef;
    text-align: right;
}

.popup .popup-buttons .popup-button{
    background: #333;
    color: #fff;
    padding: 5px;
    /* min-width: 100px; */
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 2px;
    display: inline-block;
    margin-left: 5px;
}

.popup .popup-buttons .popup-button:first-of-type{
    margin-left:0;
}

.popup .popup-buttons .popup-button:hover{
    background: rgb(0, 132, 191);
    cursor: pointer;
}

.popup .popup-top-buttons .popup-button{
    padding: 5px;
    background: rgb(51, 51, 51);
    cursor: pointer;
    border-radius: 0px;
    min-width: 28px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.popup .popup-button:hover{
    background: rgb(0, 132, 191);
    color: #fff;
}

.popup .popup-input{
    font-size: 20px;
    padding: 5px;
}

.popup .popup-options{}
.popup .popup-option{
    padding: 5px;
    font-size: 18px;
    background: #efefef;
    margin-bottom: 5px;
}
.popup .popup-option:last-of-type{
    margin-bottom: 0;
}
.popup .popup-option:hover{
    background: rgb(0, 132, 191);
    color: #fff;
    cursor: pointer;
}